:root{
    --fondo: #1E2A38;
    --cta: #FFD90F;
    --neutral-background: #F5F5F5;
    --text-color: #1E2A38;
    --card-color: #FFFFFF;
    --brand-color: #FFFFFF;
    --texto-oscuro: #222222;
    --texto-clicked: blue;
}

html{
    color: var(--texto-oscuro);
    background-color: var(--neutral-background);
}

.navbar{
    background-color: var(--cta);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.navbar__logo img{
    width: 300px;
    height: 120px;
}

.navbar__list{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar__item{
    padding: 30px;
}

.navbar__item a{
    color: var(--texto-oscuro);
    text-decoration: none;
}

.navbar__item a:hover{
    color: var(--texto-clicked);
}

.navbar__button--yellow{
    border: 2px solid black;
    background-color: var(--cta);
}

.navbar__button--yellow:hover{
    background-color: var(--neutral-background);
}

.Hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.Hero__text{
    padding: 20px;
    justify-self: center;
    text-align: center;
}

footer{
    text-align: center;
}