:root{
    --fondo: #1E2A38;
    --cta: #FFD90F;
    --neutral-background: #F5F5F5;
    --text-color: #1E2A38;
    --card-color: #FFFFFF;
    --brand-color: #FFFFFF;
    --texto-oscuro: #222222;
    --texto-clicked: blue;
}

html{
    color: var(--texto-oscuro);
    background-color: var(--neutral-background);
}

.navbar{
    background-color: var(--cta);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar__logo img{
    width: 300px;
    height: 120px;
}

.navbar__list{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar__item{
    padding: 30px;
}

.navbar__item a{
    color: var(--texto-oscuro);
    text-decoration: none;
}

.navbar__item a:hover{
    color: var(--texto-clicked);
    cursor: pointer;
}

.navbar__button--yellow a button{
    border: 2px solid black;
    background-color: var(--cta);
    width: 150px;
    height: 100px;
}

.navbar__button--yellow a button:hover{
    background-color: var(--neutral-background);
    cursor: pointer;
}

.Hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--fondo);
}

.Hero__text{
    padding: 20px;
    justify-self: center;
    text-align: center;
    animation-name: text-fade-up;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.Hero__text h1{
    color: var(--brand-color);
}

.Hero__text h2{
    color: gray;
    opacity: 0.7;
}

.Hero__button button{
    width: 150px;
    height: 100px;
    border: 2px solid black;
    background-color: var(--cta);
    text-decoration: none;
    color: var(--text-color);
}

.Hero__button button:hover{
    cursor: pointer;
}

.Hero__picture img{
    animation-name: picture-slide-right;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0.3s;
}

footer{
    text-align: center;
}

@keyframes text-fade-up{
    0%{
        transform: translateY(200px);
        opacity: 0.10;
    }

    50%{
        transform: translateY(-50px);
        opacity: 0.5;
    }

    100%{
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes picture-slide-right{
    0%{
        transform: translateX(-100px);
        opacity: 0.10;
    }

    50%{
        transform: translateX(50px);
        opacity: 0.5;
    }

    100%{
        transform: translateX(20px);
        opacity: 1;
    }
}